<div class="card container-md shadow-sm">

  <div class="card-body text-center">

    <%= image_tag('http://clipart-library.com/images_k/children-silhouette-free/children-silhouette-free-2.png', class: 'card-img-top mb-4', alt: 'Kids', onerror: "this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDP7Dc75L_m9zazv1Kb4rskgQfP9FofKc3tg&usqp=CAU';this.class='img-fluid card-img-top';this.style.height='200px';this.style.width='200px';") %>
    <h5 class="card-title"><%= @child.name %></h5>
    <p class="card-text"><%= @child.age %></p>
    <div class="card-header">Chores:</div>
    <ul class="list-group list-group-flush"><%= render partial: 'chores/convert', locals: { chores: @child.chores } %></ul>

  </div>

  
  <a class='nav-link'><%= link_to '<<Back', children_path %></a>

</div>
