<div class="card container-md shadow-sm">

  <div class="card-body text-center">

    <%= render 'shared/animal_image_loop' %>
    <h5 class="card-title"><%= @child.name %></h5>
    <p class="card-text"><%= @child.age %></p>
    <div class="card-header">Chores:</div>
    <ul class="list-group list-group-flush"><%= render partial: 'chores/convert', locals: { chores: @child.chores } %></ul>

  </div>

  <% if %>
    <a class='nav-link'><%= link_to '<<Back', :back %></a>
  <% end %>

</div>
