<div class="container bg-light bg-gradient">

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-warning shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="parents">
        <img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDP7Dc75L_m9zazv1Kb4rskgQfP9FofKc3tg&usqp=CAU" alt="chorbee" width="30" height="24" class="d-inline-block align-text-top">
        Chorbee</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <span class="navbar-text">A Chores App for Kids!</span>
      </div>
    </div>
  </nav>

  <p class="text-success" id="notice"><%= notice %></p>

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-label col-lg-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-label col-lg-4">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

    <div class="form-label col-lg-4">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-label col-lg-4">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions m-3 col-lg-4">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>


</div> <!--/container-->
