<div class="container-sm row">
  <h2 class="row mx-auto text-warning shadow-sm table-title">Schedule</h2>
</div>

<% if !current_parent.appointments.empty? %>

<div class="row table-div">
  <table class="table-responsive table-striped table-hover table-bordered shadow-sm">
    <thead>
      <tr class="table-responsive-dark text-center">
        <th>Chore:</th>
        <th>Frequency:</th>
        <th>Assigned To:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% parent_appointments_array = current_parent.appointments.uniq %>
      <% parent_appointments_array.each do |appointment| %>
        <tr class="text-center table-row">
          <td><%= appointment.chore.job %></td>
          <td><%= appointment.frequency %></td>
          <td><%= render partial: 'children/convert2', locals: { children: appointment.chore.children } %></td>
          <td>
            <div class="btn-group dropdown">
              <button type="button" class="btn btn-warning"><%= link_to 'View', appointment %></button>
              <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><%= link_to 'Edit', edit_appointment_path(appointment) %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></a></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= render 'display', appointment: current_parent.appointments %>

<% else %>

<div class='row mx-auto text-center'>
  <p class='mx-auto text-dark'>No Current Appointments</h2>
</div>

<% end %>
