<div class="card container-md shadow-sm appointment-show">

    <div class="card-body text-center">

      <% @appointment.reload %>
      <h5 class="card-title">Appointment For:<br><strong><%= @appointment.chore.job %></strong></h5>
      <p class="card-text">Created on: <strong><%= @appointment.start_time.strftime("%m/%d/%Y") %></strong></p>
      <p class="card-text">Description:<br><strong><%= @appointment.chore.description %></strong></p>
      <p class="card-text">Frequency: <strong><%= @appointment.frequency %></strong></p>

    </div>

    <div class="row">
      <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_appointment_path %></button>
    </div>

</div>