<div class="container-lg container-fluid bg-light bg-gradient">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Chorebee: A Chores app for kids</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="children">Children</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chore Functions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><%= link_to 'New Chore', new_chore_path %></a></li>
          </ul>
        </li>
        </ul>
      <%# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1 class="text-muted row px-3">Chores</h1>

<div class="row">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr class="table-dark text-center">
        <th>Job</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @chores.each do |chore| %>
        <tr class="text-center">
          <td><%= chore.job %></td>
          <td><%= chore.description %></td>
          <td><%= link_to 'View', chore %></td>
          <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
          <td><%= link_to 'Delete', chore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div> <!--/row-->

</div> <!--/container-->