<div class="card shadow-sm">

  <div class="card-body text-center">

    <%= render 'animal_image_loop' %>
    <h5 class="card-title">Chore: <br><strong><%= @chore.job %></strong></h5>
    <p class="card-text">Description: <br><strong><%= @chore.description %></strong></p>
    <div class="card-header">Assigned To:</div>
    <ul class="list-group list-group-flush"><%= render partial: 'children/convert', locals: { children: @chore.children } %></ul>

  </div>

  <a class='nav-link'><%= link_to '<<Back', chores_path %></a>

</div>
