<div class="card container-lg shadow-sm show-card">

  <div class="card-body text-center card-content">

    <%= render 'shared/chore_image_loop' %>
    <h5 class="card-title">Chore: <br><strong><%= @chore.job %></strong></h5>
    <p class="card-text">Description: <br><strong><%= @chore.description %></strong></p>
    <div class="card-header">Assigned To:</div>
    <ul class="list-group list-group-flush"><%= render partial: 'children/convert', locals: { children: @chore.children } %></ul>

  </div>

  <div class="row edit">
    <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_chore_path %></button>
  </div>

</div>
