<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-warning shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="/#">
      <img class="img-thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDP7Dc75L_m9zazv1Kb4rskgQfP9FofKc3tg&usqp=CAU" alt="chorbee" width="30" height="24" class="d-inline-block align-text-top">
      Chorbee</a></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Children', children_path, method: :get, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Appointments', appointments_path, method: :get, class: 'nav-link active' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Chore Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% unless request.path == "/chores" %>
              <li><a class="dropdown-item" href="#"><%= link_to 'Chores', chores_path %></a></li>
            <% end %>
            <li><a class="dropdown-item" href="#"><%= link_to 'New Chore', new_chore_path %></a></li>
          </ul>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_parent_session_path, method: :delete, class: 'nav-link', data: { confirm: 'Are you sure you want to sign out?' } %>
          </li>
        </li>
        </ul>
        <span class="navbar-text">A Chores App for Kids!</span>
    </div>
  </div>
</nav>

<p class="text-success" id="notice"><%= notice %></p>