<!DOCTYPE html>
<html>
  <head>
    <title>ChoresApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid bg-light bg-gradient grandparent">
        <%= render 'layouts/navbar' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <% if current_parent %>
          <div class="graph">
            <%= render 'layouts/reports' %>
          </div>
        <% end %>
        <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
